

html {
  font-family: sans-serif;
  min-height: 100vh;
  background-color: black;
}

.background {
  background-image: url(website-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 18vw;
  
  color: white;
  width: 66vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.right-side {
  position: relative;
  top: 20vh;
  width: 24vw;
  height: 33%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: rgba(255, 255, 255, 0.2);
  height: 33%;
  width: 100%
}

.form-container {
  background-color: lightgray;
}

.sign-up-container {
  background-color: whitesmoke;
  position: relative;
  width: 42vw;
  color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sign-up-heading {
  background-color: aqua;

  position: relative;
  left: 10%;

  width: 80%;
}