

html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  min-height: 100vh;
  background-color: black;
}

.background {
  background-image: url(website-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 18vw;
  
  color: white;
  width: 66vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.right-side {
  position: relative;
  top: 20vh;
  width: 24vw;
  height: 33%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: rgba(255, 255, 255, 0.2);
  height: 33%;
  width: 100%
}


.sign-up-container {
  background-color: lightgray;
  position: relative;
  width: 42vw;
  color: black;
  display: flex;
  flex-direction: column;
}

.sign-up-caption {
  max-width: 75%;
  position: relative;
  left: 12%
}

.sign-up-heading {

  position: relative;
  left: 10%;

  width: 80%;
}

.form-container {
  background-color: white;
}

.form-input-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.form-input-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


fieldset {
  border: none;
}

input {
  border-width: 1px;
  border-color: lightgray;
  border-radius: 2px;
  border-style: solid;
}